.contacts_phone {
  display: flex;
  // align-items: center;
  gap: 10px;
  width: fit-content;
  margin-bottom: 6px;

  svg {
    display: flex;
    align-items: center;
  }

  span {
    max-width: calc(100% - 32px);
  }
}
