.contacts_phone {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;

	svg {
		display: flex;
		align-items: center;

		flex: 0 0 24px;
	}

	span {
		max-width: 300px;
		flex: 1 1 auto;
		overflow: hidden;
		overflow-wrap: normal;
		word-break: break-all;
		text-align: left;

		@media screen and (max-width: 1200px) {
			max-width: 200px;
		}
	}

	@media screen and (max-width: 1000px) {
		margin-bottom: 6px;
	}
}

.contacts_email {
	align-self: normal;
}