@import "@styles/vars.scss";

.slider_title {
	text-align: left;
	font-size: 20px;
	margin-top: 30px;

	@media screen and (max-width: 1500px) {
		text-align: center;
	}
}

.cart__title {
	@media screen and (max-width: 550px) {
		text-align: center;
	}
}

.cart_suptitle {
	font-size: 18px;
	margin-bottom: 14px;
	font-weight: bold;

	@media screen and (max-width: 600px) {
		font-size: 16px;
	}

	@media screen and (max-width: 550px) {
		text-align: center;
		margin-bottom: 16px;
	}
}

.cart_container {
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
	padding-bottom: 100px;
	margin-top: 40px;

	@media screen and (max-width: 1250px) {
		padding-bottom: 0px;
		box-shadow: none;
	}
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 64px;

	&__content {
		flex: 1 1 1024px;

		.content__reset_btn {
			color: $blue;
			text-decoration: underline;

			@media screen and (max-width: 550px) {
				margin: 0 auto;
				margin-bottom: 6px;
			}
		}

		@media screen and (max-width: 900px) {
			flex: 0 1 100%;
		}
	}

	&__conclusion {
		flex: 1 1 500px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
		padding: 20px 30px;
		margin-top: 30px;

		position: sticky;
		top: 130px;

		.conclusion__title {
			font-size: 20px;
			margin-bottom: 30px;
			font-weight: bold;
		}

		.conclusion__info {
			border-bottom: 1px solid $grey;
			margin-bottom: 16px;
		}

		// .conclusion__controls {
		// }
		.info__block {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 16px;
			}

			.block__row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				gap: 10px;

				&_all_price {
					margin-bottom: 20px;

					p {
						font-size: 18px;
						font-weight: bold;
					}

					@media screen and (max-width: 550px) {
						p {
							font-size: 16px !important;
						}
					}
				}

				.row__text {
					display: flex;
					align-items: center;
					gap: 10px;

					span {
						padding: 0 !important;
					}
				}

				.row__price {
					text-align: right;
					font-weight: bold;
				}

				@media screen and (max-width: 550px) {
					font-size: 14px;

					.row__text,
					.row__price {
						font-size: 14px;
					}
				}
			}
		}

		@media screen and (max-width: 900px) {
			flex: 0 1 100%;
		}

		@media screen and (max-width: 550px) {
			margin-top: 20px;
			padding: 10px 16px;
			padding-bottom: 0px;
		}
	}

	.controls__btns {
		display: flex;
		gap: 28px;

		button {
			margin-bottom: 20px;

			@media screen and (max-width: 550px) {
				font-size: 14px;
			}
		}

		@media screen and (max-width: 750px) {
			flex-direction: column-reverse;
			gap: 0px;

			button {
				width: 100%;
			}
		}
	}

	.controls__btn {
		width: 100%;

		@media (max-width: 1300px) {
			width: 300px;
		}
	}

	@media screen and (max-width: 1300px) {
		gap: 30px;
	}

	@media screen and (max-width: 1250px) {
		gap: 10px;
	}

	@media screen and (max-width: 1200px) {
		gap: 10px;
	}
}

.cart_page {
	@media screen and (max-width: 1300px) {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 50px;
	}
}

.cart_checkout {
	gap: 168px;
	justify-content: center;

	.cart__content {
		flex: 0 1 512px;
	}

	.cart__conclusion {
		flex: 0 1 648px;

		@media (min-width: 1301px) {
			margin-top: 77px;
		}
	}

	@media (max-width: 1500px) {
		gap: 60px;
	}
}

.desktop_block {
	@media screen and (max-width: 550px) {
		display: none;
	}
}

.blue_550 {
	display: none;

	@media screen and (max-width: 550px) {
		display: block;
		padding-top: 16px;
		background: #eef5fe;
		z-index: 100;

		width: 100vw;
		overflow: hidden;
		margin-left: -15px;
		padding-left: 15px;
		margin-right: -15px;
		padding-bottom: 0px;

		:global {
			.swiper {
				padding-bottom: 0px !important;
			}

			.swiper-scrollbar {
				margin-top: 10px;
			}
		}
	}
}

.back {
	margin-top: 16px;
	font-size: 14px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 4px;

	@media (min-width: 1000px) {
		font-size: 16px;
		margin-top: 30px;
	}

}


.stepped {
	margin-top: 16px;

	:global {
		.MuiFormControl-root {

			margin-bottom: 0 !important;

			label,
			>svg,
			span,
			div,
			input {
				width: 24px !important;
				height: 24px !important;
			}

			div {
				flex: 0 0 24px !important;
			}
		}

		.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
			width: 24px !important;
			height: 24px !important;
		}
	}

	@media (min-width: 800px) {
		margin-top: 20px;
	}

	.bank {
		margin-top: 16px;
		padding-bottom: 220px;

		&__tooltip {
			position: absolute;
			top: calc(100% + 24px);
			left: -56px;
			background: white;
			padding: 18px;
			line-height: 1.5;
			box-shadow: 0 2px 12px 0 #1D1D1D33;
			font-size: 14px;
			width: 484px;
			z-index: 20;

			display: none;


			&::after {
				content: "";
				position: absolute;
				left: 10%;
				transform: translate(0, -100%);
				top: 1px;
				border: 20px solid transparent;
				border-bottom: 20px solid white;
			}

			@media (max-width: 550px) {
				width: calc(100vw - 28px);

				left: -90px;

				&::after {
					left: 81px;
				}
			}
		}

		&__info {
			display: flex;
			position: relative;

			&:hover {
				.bank__tooltip {
					display: block;
				}
			}
		}

		&__row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			border-bottom: 1px solid #EEEEEE;
			padding-bottom: 12px;

			&:not(:first-child) {
				margin-top: 10px;
			}
		}

		&__left {}

		&__name {
			display: flex;
			gap: 6px;
			align-items: center;

			margin-bottom: 8px;

		}

		button {
			display: flex;
		}

		@media (min-width: 1200px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 60px;

			&__name {
				font-size: 18px;
			}

			&__tooltip {
				font-size: 16px;
			}
		}

		@media (min-width: 500px) {
			padding: 20px;
			box-shadow: 0 6px 12px 0 #0000001A;

			margin-bottom: 120px;
		}
	}

	.panel {
		box-shadow: 0 -2px 20px 0 #0000001A;
		background: white;
		position: fixed;
		bottom: 56px;
		left: 0;
		width: 100%;
		z-index: 19;
		padding: 16px;

		&__header {
			display: flex;
			gap: 12px;
			align-items: center;

			@media (min-width: 500px) {
				justify-content: center;
			}
		}

		&__text {
			font-size: 14px;

			span {
				font-size: inherit;
				cursor: pointer;
				color: var(--primary);
			}

		}

		&__btns {
			margin-top: 30px;

			display: flex;
			flex-direction: column;
			gap: 16px;

			button {
				font-size: 14px;
			}

			@media (min-width: 500px) {
				justify-content: center;
				flex-direction: row-reverse;
			}
		}

		@media (min-width: 500px) {
			padding: 30px;
		}

		@media (min-width: 801px) {
			bottom: 0;
		}

		@media (min-width: 1000px) {
			&__text {
				font-size: 16px;
			}
		}

		@media (min-width: 1200px) {
			&__btns {
				button {
					font-size: 16px;
				}
			}
		}

	}

	.panel_2 {
		box-shadow: none;
		position: static;
		margin-bottom: 40px;
		padding: 0;

		@media (min-width: 800px) {

			button {
				max-width: 222px;
			}
		}
	}

	.panel__modal {
		flex: 0 1 600px;
		padding: 60px 20px 20px;
	}

	.bank_info {
		margin-top: 16px;
		margin-bottom: 18px;
		display: flex;
		gap: 1px;

		&__left {
			background: #eeeeee;
			display: flex;
			box-shadow: 2px 0 16px 0 #1D1D1D14;
			border-left: 1px solid #eeeeee;
			position: relative;
			z-index: 2;

			.bank_info__column {}

			.bank_info__cell_head {
				justify-content: center;
			}

			.bank_info__cell {
				span {
					font-weight: 700;
				}
			}
		}

		&__body {
			display: flex;
			gap: 1px;
			background: #eeeeee;
			border-right: 1px solid #eeeeee;
			position: relative;
			z-index: 1;
			margin-right: -16px;


			.bank_info__cell {
				text-align: center;
				justify-content: center;

				&:nth-child(even) {
					background: #f5f5f6;
				}
			}

			overflow-x: auto;
		}

		&__column {
			display: flex;
			flex-direction: column;
			gap: 1px;

			&_full {
				.bank_info__cell {
					width: 154px;
				}
			}
		}

		&__cell {
			display: flex;
			align-items: center;
			background: white;
			height: 44px;
			width: 74px;
			padding: 0 10px;
			word-break: break-all;

			font-size: 14px;

			* {
				font-size: inherit;
			}

			&_head {
				background: #E1E1E1;
			}

			&_full {
				width: 154px;
			}

			&_button {
				padding: 0 6px;

				border-bottom: 1px solid #eeeeee;

				button {

					background: var(--primary);
					color: white;
					font-weight: 700;
					font-size: 10px;
					width: 100%;
					height: 23px;

					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						background: #5800b7;
					}

					&:disabled {
						color: #E8E8E8;
						background: #B4B4B4;

						user-select: none;
						cursor: default;
					}
				}
			}
		}

		@media (min-width: 600px) {
			&__body {

				.bank_info__cell {
					width: 106px;

				}

				.bank_info__cell_button {
					padding: 0 8px;

					button {
						height: 28px;
						font-size: 12px;
					}
				}
			}
		}

		@media (min-width: 800px) {
			&__cell {
				height: 57px;
			}

			&__body {
				margin-right: -24px;
			}
		}

		@media (min-width: 1200px) {
			&__cell {
				font-size: 16px;
				height: 65px;
				width: 120px;
			}

			.bank_info__cell_button {
				padding: 0 8px;

				button {
					height: 34px;
					font-size: 14px;
				}
			}

			&__body {
				margin-right: -24px;
			}
		}

		*::-webkit-scrollbar {
			height: 5px;
			width: 5px;

			display: none;
		}

		*::-webkit-scrollbar-track {
			border-radius: 12px;
			background-color: #F5F5F6;
		}

		*::-webkit-scrollbar-track:hover {
			background-color: #F5F5F6;
		}

		*::-webkit-scrollbar-track:active {
			background-color: #F5F5F6;
		}

		*::-webkit-scrollbar-thumb {
			border-radius: 12px;
			background-color: #E1E1E1;
		}

		*::-webkit-scrollbar-thumb:hover {
			background-color: #E1E1E1;
		}

		*::-webkit-scrollbar-thumb:active {
			background-color: #E1E1E1;
		}
	}

	.selected_bank_container {
		margin-bottom: 30px;

		@media (min-width: 500px) {
			padding: 30px;
			box-shadow: 0 6px 12px 0 #0000001A;
		}
	}

	.selected_bank {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 44px;
		grid-auto-rows: 57px;
		margin: auto;
		gap: 1px;
		border: 1px solid #eeeeee;
		margin-bottom: 30px;
		background: #eeeeee;

		&__header {
			grid-column: span 2;
			background: var(--primary);
			color: white;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
		}

		&__item {
			padding: 0 11px;
			background: white;
			display: flex;
			font-size: 14px;
			align-items: center;

			&:nth-child(odd) {
				justify-content: center;
			}

			&:nth-child(even) {
				font-weight: 700;
			}
		}

		@media (min-width: 800px) {
			grid-template-columns: 2fr 1fr;
			max-width: 480px;
		}

		@media (min-width: 1200px) {
			&__item {
				font-size: 16px;
			}

			margin-bottom: 60px;
		}
	}

	.documents {
		margin-bottom: 10px;

		&__button {
			margin-top: 60px;
			font-size: 14px;
		}

		&__body {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 8px 0;
			border-bottom: 1px solid #F5F5F6;
			font-weight: 700;
			cursor: pointer;

			&_complete {
				pointer-events: none;
				cursor: default;
			}
		}

		@media (min-width: 500px) {
			padding: 30px 20px;
			box-shadow: 0 6px 12px 0 #0000001A;
		}
	}

	.document {
		padding: 30px 16px 35px;
		box-shadow: 0 6px 12px 0 #0000001A;
		margin-bottom: 30px;

		&__title {
			font-size: 18px;
			font-weight: 700;
			text-align: center;
		}

		&__text {
			display: block;
			margin-top: 16px;
			line-height: 1.5;
			font-size: 14px;
		}

		&__checkbox {
			margin-top: 16px;
			display: flex;
			gap: 10px;
			margin-left: 20px;

			&_item {
				flex: 0 0 auto;

				span {
					color: #E2000F;
					font-size: 14px;
				}
			}
		}

		.document__modal {
			:global {
				.modal-close-button {
					display: none;
				}
			}

			text-align: center;
			padding: 40px 24px;

			flex: 1 1 auto;
			max-width: 1000px;

			.document__modal_buttons {
				max-width: 478px;
				margin-top: 20px;

				display: flex;
				flex-direction: column;
				gap: 16px;

				button {
					width: 100%;
					margin: 0;
					font-size: 14px;
				}

				@media (min-width: 500px) {
					flex-direction: row-reverse;
					margin: auto;
					margin-top: 20px;
				}
			}
		}

		&__button {
			margin: auto;
			margin-bottom: 30px;

			&:disabled {
				background: #E1E1E1;
				color: #B4B4B4;
			}

			@media (min-width: 500px) {
				width: 222px;
			}

			@media (min-width: 800px) {
				margin-bottom: 60px;
			}
		}

		@media (min-width: 800px) {
			&__title {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}

		@media (min-width: 1200px) {
			&__title {
				font-size: 24px;
				margin-bottom: 26px;
			}

			&__text {
				font-size: 16px;
			}
		}
	}
}