@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.individual {
	padding: 30px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);


	@media screen and (max-width: 600px) {
		padding: 16px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.body {
		display: grid;
		column-gap: 30px;
		
		grid-template-columns:
			minmax(233px, calc(233px + 145px)) 
			minmax(max-content, calc(180px + 195px))
			1fr
		;

		grid-template-areas:
			"avatar userName ."
			"avatar contacts stars"
			"avatar contacts white_buttons"
			"avatar social_links button_followers"
		;

		grid-template-rows: 1fr;
		align-items: start;
		justify-content: start;

		@media screen and (max-width: 1100px) {
			grid-template-columns: 191px minmax(max-content, 276px);

			grid-template-areas:
				"avatar userName"
				"avatar stars"
				"avatar social_links"
				"avatar button_followers"
				"contacts contacts"
				"white_buttons white_buttons"
			;

			grid-template-rows: auto auto auto 1fr;
		}

		@media screen and (max-width: 550px) {
			column-gap: 12px;
			grid-template-columns: 130px minmax(auto, 250px);
		}

		@media screen and (max-width: 400px) {
			grid-template-columns: 1fr;
			grid-template-areas:
				"avatar avatar"
				"userName userName"
				"stars stars"
				"social_links social_links"
				"button_followers button_followers"
				"contacts contacts"
				"white_buttons white_buttons"
			;
		}

	}

	.avatar {
		aspect-ratio: 1;
		border-radius: 12px;
		overflow: hidden;
		grid-area: avatar;
		width: 233px;
		box-shadow: 0px 6px 10px #0000001A;

		@media screen and (max-width: 1100px) {
			width: 100%;
			border-radius: none;
		}

		@media screen and (max-width: 400px) {
			width: 130px;
		}
	}
	
	.userName {
		grid-area: userName;
		margin-bottom: 20px;

		@media screen and (max-width: 1100px) {
			margin-bottom: 0;
		}

		@media screen and (max-width: 400px) {
			margin-top: 6px;
		}
	}

	.contacts {
		grid-area: contacts;

		@media screen and (max-width: 1100px) and (min-width: 551px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 16px;

			margin-top: 20px;

			//max-width: 91.5%;
			max-width: 455px;

			>div {
				&:nth-child(1) {order: 1;}
				&:nth-child(2) {order: 3;}
				&:nth-child(3) {order: 2;}
				&:nth-child(4) {order: 4;}
			}
		}

		@media screen and (max-width: 550px) {
			margin-top: 20px;
		}

		@media screen and (max-width: 400px) {
			margin-top: 12px;
		}
	}

	.social_links {
		grid-area: social_links;
		align-self: self-end;

		display: flex;
		gap: 10px;

		a {
			flex: 0 0 24px;
			height: 24px;
		}

		@media screen and (max-width: 1100px) {
			align-self: self-start;
			margin-top: 7px;
		}

		@media screen and (max-width: 550px) {
		}
	}

	.stars {
		grid-area: stars;
		margin-bottom: 10px;
		*{margin-bottom: unset;}

		@media screen and (max-width: 1100px) {
			margin-bottom: 0;
			margin-top: 6px;
			*{margin-top: unset;}
		}

		@media screen and (max-width: 550px) {
			margin-top: 0;
			svg {
				width: 12px;
				height: 12px;
			}
		}
	}

	.button_chat {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		flex: 0 1 272px;
		max-width: 272px;

		&:hover {
			path {
				fill: white;
			}

			span {
				color: white;
			}
		}

		@media screen and (max-width: 550px) {
			span {
				display: none;
			}
		}
	}

	.button_empty {
		max-width: 140px;
	}

	.button_followers {
		grid-area: button_followers;
		max-width: 230px;
		
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		&:hover {
			path {
				fill: $blue;
			}
		}
		
		span {
			display: flex;
			align-items: center;
			gap: 6px;

			color: inherit;
		}

		@media screen and (max-width: 1100px) {
			width: 100%;
			max-width: 100%;
			align-self: self-end;
		}

		@media screen and (max-width: 550px) {
			height: 40px;
		}

		@media screen and (max-width: 400px) {
			margin-top: 12px;
		}
	}

	.white_buttons {
		grid-area: white_buttons;
		display: flex;
		gap: 30px;
		
		@media screen and (max-width: 1100px) {
			gap: 16px;
			margin-top: 20px;
			max-width: 455px;

			.button_chat,
			.button_empty {
				flex: 1 1 50%;
				max-width: none;
			}
		}

		@media screen and (max-width: 550px) {
			gap: 16px;
			margin-top: 20px;
			max-width: 455px;

			.button_chat {
				flex: 0 0 47px;
				max-width: 47px;
			}
		}

		@media screen and (max-width: 400px) {
			margin-top: 16px;
		}
	}
}