.last_viewed_content {
  border-radius: 20px;
	margin-bottom: 80px;

  @media screen and (max-width: 500px) {
    border-radius: 0;
		margin-bottom: 40px;
  }
}

.last_viewed {
  position: relative;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding-bottom: 8px;
    }
  }

  @media screen and (max-width: 350px) {
    padding: 15px 10px;
  }
}
