@import "@/styles/vars.scss";

.filters_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-bottom: 30px;

	@media screen and (max-width: 900px) {
		margin-bottom: 20px;
	}
	
	@media screen and (max-width: 500px) {
		margin-bottom: 10px;
	}
}

.filters_reset {
  text-align: center;
  text-transform: uppercase;
  color: $purple-2;
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover {
    color: $black;
  }

  @media screen and (max-width: 500px) {
    text-transform: none;
  }
}
