@import "@styles/vars.scss";

.btn_box {
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	z-index: 1000;
	background-color: #fff;
}

.btn_cancel {
	height: 49px;
	padding: 8px 50px;
	color: $purple;
	border: 1px solid var(--Primary-color, $purple);
}

.btn_approve {
	height: 49px;
	padding: 8px 50px;
	color: #fff;
	background: var(--Primary-color, $purple);
}

.mobile {
	&__icon {
		display: none;
		cursor: pointer;
		margin-bottom: 10px;
	}

	&__menu {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		z-index: 2500;
		background-color: white;
		overflow-y: auto;
		padding: 20px;
		box-sizing: border-box;
		animation: slide-in 0.3s ease-out;

		&::before {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}
	}

	&__filterMenu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__textStyle {
		color: "#1D1D1D";
		font-family: "Mardoto";
		font-size: 22px;
		font-style: "normal";
		font-weight: 700;
		line-height: "normal";
	}

	&__filterData {
		cursor: "pointer";
		display: flex;
		padding: 16px;
		justify-content: space-between;
		align-items: center;
		align-self: "stretch";
	}

	&__filterTitle {
		display: flex;
		flex-direction: column;
		margin-left: 38px;
	}
}

.slider {
	display: block;
}

@media (max-width: 500px) {
	.slider {
		display: none;
	}

	.mobile {
		&__icon {
			display: flex;
			//float: inline-start;
			//margin-top: 7px;
			margin: 0;
		}
	}
}

.close_btn {
	width: 20px;
	height: 20px;
}

.arrow, .arrow_rotate {
	transition: 0.2s ease;
}

.arrow_rotate {
	transform: rotate(180deg);
}