$z-in-flow-1: 1; // Для элементов в потоке
$z-in-flow-2: 2; // Для элементов в потоке
$z-mask: 5; // Для затемняющих масок
$z-sidebar: 10;
$z-footer: 15;
$z-modal: 20;
$z-mask-2: 25; // Для затемняющих масок
$z-absolute: 50;