$z-in-flow-1: 1; // Для элементов в потоке
$z-in-flow-2: 2; // Для элементов в потоке
$z-mask: 5; // Для затемняющих масок
$z-product-nav: 10; // Для панели покупки
$z-footer: 15; // Для футера
$z-mobile-bottom-bar: 20; // Для нижней навигационной панели на мобильных
$z-modal: 50; // Для модалок
$z-mask-2: 100; // Для затемняющих масок
$z-absolute: 200; // Для чего то, что поверх всего

// Создать переменную при необходимости 