$z-in-flow-1: 1; // Для элементов в потоке
$z-in-flow-2: 2; // Для элементов в потоке
$z-mask: 5; // Для затемняющих масок
$z-product-nav: 10;
$z-footer: 15;
$z-mobile-bottom-bar: 20;
$z-modal: 50;
$z-mask-2: 100; // Для затемняющих масок
$z-absolute: 200;