@import "@styles/vars.scss";

.wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 0 24px;
  margin: 20px auto 0;

  @media screen and (max-width: 700px) {
    padding: 0;
    margin-top: 0;
  }
}

.content_padding_wrapper {
  @media (max-width: 700px) {
    padding: 0 16px;
  }
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.layout {
  display: flex;
  justify-content: space-between;
  grid-gap: 32px;

	padding-top: 20px;

  &__content {
		min-width: 0;

    .product {
      display: flex;
      align-items: flex-start;

      .product__slider {
        position: sticky;
        top: 100px;
        width: 60%;
				
				@media screen and (min-width: 1660px) {
					width: 55%;
				}

        .slider__wrapper {
          position: relative;
        }

        .slider__actions {
          position: absolute;
          top: 10px;
          right: 60px;
          z-index: 10;

          .slider__action_btn {
            width: 50px;
            height: 50px;
            background: $grey;
            border-radius: 100%;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s linear;

            svg {
              width: 23px;
            }

            &:hover {
              box-shadow: 0 3px 13px rgba(#000, 0.2);
            }

            &:active {
              box-shadow: 0 0 3px rgba(#000, 0.2);
            }
          }
        }

        @media screen and (max-width: 700px) {
          padding-top: 0;
        }
      }

      .product__info {
        width: 40%;

				@media screen and (min-width: 1660px) {
					width: 45%;
				}

        @extend .content_padding_wrapper;

        .product__info_title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        .product__info_description {
          font-size: 18px;
          margin-top: 16px;
        }

        .contact_seller_wrapper {
          margin-top: 30px;
        }

        .product__rating_container {
          //@media screen and (max-width: 600px) {
          //  display: flex;
          //  align-items: flex-start;
          //  justify-content: space-between;
          //
          //  .socials {
          //    display: flex;
          //    justify-content: space-between;
          //    min-width: 100px;
          //    svg {
          //      width: 24px !important;
          //      height: 24px !important;
          //    }
          //  }
          //
          //  .product_price__stars {
          //    order: 2;
          //    text-align: right;
          //    svg {
          //      width: 14px;
          //      height: 14px;
          //    }
          //  }
          //  .info__price {
          //    margin: 0;
          //  }
          //}
        }

        .product__price_wrapper {
          .product__price_row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product__price_row_social_medias {
              display: none;
            }
          }

          .product__price {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 28px;

            &:hover {
              .prices__popup {
                visibility: visible;
              }
            }

            .main_price {
              display: flex;
              align-items: center;

              .price__text {
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;

                &.discounted__price {
                  color: $red;
                }

                //@media screen and (max-width: 600px) {
                //  font-size: 18px;
                //}
              }
            }

            .discount_price {
              margin-left: 20px;
              font-size: 18px;
              text-decoration: line-through;
            }

            svg {
              width: 15px;
              transform: scale(1.5);
              cursor: pointer;
              margin-left: 16px;

              //@media screen and (max-width: 600px) {
              //  transform: scale(1);
              //  margin-left: 5px;
              //}
            }

            .prices__popup {
              position: absolute;
              left: 0;
              bottom: 0;
              min-width: 180px;
              transform: translateY(100%);
              z-index: 2;
              background: #fff;
              padding: 14px 10px 4px;
              border-radius: 20px;
              box-shadow: 0 6px 10px rgba(#000, 0.1);
              visibility: hidden;

              &:hover {
                visibility: visible;
              }

              p {
                font-size: 20px;
                margin-bottom: 12px;

                //@media screen and (max-width: 600px) {
                //  font-size: 18px;
                //}
              }
            }
          }
        }

        .share_on_social {
          display: flex;
          align-items: center;
          margin-top: 30px;
          margin-bottom: 38px;

          .social_medias {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            margin-left: 12px;

            .social_media_item {
              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
        }

        .price_section_tablet_wrapper .product__rating_container {
          display: none;
        }
      }

      @media screen and (max-width: 1080px) {
        flex-direction: column;

        .product__slider {
          width: 100%;
          position: relative;
          top: 0;
          margin-bottom: 60px;

          .slider__actions {
            top: 10px;
            right: 10px;
          }
        }

        .product__info {
          width: 100%;

          .product__info_title {
            font-size: 20px;
            margin-bottom: 0;
            margin-right: 12px;
          }

          .product__info_description {
            font-size: 16px;
          }

          .product__price_wrapper {
            .product__price_row {
              .product__price_row_social_medias {
                display: flex;
                gap: 11px;

                svg {
                  width: 24px;
                  height: 24px;
                }
              }
            }

            .product__price {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              margin: 10px 0 0 0;
              gap: 8px;

              .main_price {
                .price__text {
                  font-size: 22px;
                }
              }

              .discount_price {
                order: -1;
                margin-left: 0;
                font-size: 16px;
              }
            }
          }

          .product__rating_container {
            display: none;

            svg {
              width: 16.6px;
              height: 16.6px;
            }
          }

          .price_section_tablet_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: row;

            .product__rating_container {
              display: block;
            }
          }

          .share_on_social {
            display: none;
          }

          .product_parameters_wrapper {
            margin-top: 30px;
          }
        }
      }

      @media screen and (max-width: 700px) {
        .product__slider {
          padding-top: 0;
        }
      }

      @media screen and (max-width: 650px) {
        .product__slider {
          .slider__actions {
            .slider__action_btn {
              width: 40px;
              height: 40px;
              margin-bottom: 16px;

              svg {
                width: 20px;
              }
            }
          }
        }

        .product__info {
          .product__info_title {
            font-size: 18px;
          }

          .product__price_wrapper {
            .product__price {
              gap: 6px;

              .main_price {
                .price__text {
                  font-size: 20px;
                }
              }
            }
          }

          .contact_seller_wrapper {
            margin-top: 20px;
          }
        }
      }
    }

    .product__parameters_wrapper {
      max-width: 100%;
      overflow: hidden;
      margin-top: 80px;

      @media (min-width: 1550px) {
        display: none;
      }

      @media (max-width: 800px) {
        margin-top: 40px;
      }

      @media (max-width: 550px) {
        margin-top: 30px;
      }
    }
  }

  &__similar {
    position: sticky;
    top: 0;
    min-width: 380px;
    height: 90vh;
    max-height: clamp(600px, 100vh - 125px - 72px, 800px);
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    overflow: auto;
    padding-right: 16px;

    @media screen and (max-width: 1550px) {
      display: none;
    }
  }
}
