@import "@styles/vars.scss";

.wrapper {
  margin-top: 20px;

  @media screen and (max-width: 700px) {
    margin-top: 0px;
  }
}

.text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 8px;
  strong {
    font-weight: 700;
    margin-right: 5px;
  }

  .text_bold_info {
    margin-left: 5px;
  }

  display: flex;
  align-items: center;

  &__social_desktop {
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-left: 12px;

    svg {
      width: 22px;
    }
  }

  @media screen and (max-width: 400px) {
    font-size: 16px;
    strong {
      font-size: 16px;
      font-weight: 500;
      margin-left: 3px;
    }
  }
}

.layout {
  display: flex;
  justify-content: space-between;
  grid-gap: 32px;
  margin-top: 30px;

  &__content {
    flex: 0 1 75%;
    min-width: 0;
    .content__product {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media screen and (max-width: 700px) {
        padding-top: 0px;
      }

      .product__slider {
        position: sticky;
        top: 100px;
        padding-top: 20px;

        overflow: hidden;
        flex: 0 1 56%;
        min-width: 0;

        .slider__wrapper {
          position: relative;
          min-width: 0;
        }

        .slider__actions {
          position: absolute;
          top: 60px;
          right: 60px;
          z-index: 200;

          .btn {
            width: 50px;
            height: 50px;
            background: $grey;
            border-radius: 50%;
            margin-bottom: 20px;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s linear;

            svg {
              width: 27px;
            }

            &:hover {
              box-shadow: 0px 3px 13px rgba(#000, 0.2);
            }

            &:active {
              box-shadow: 0px 0px 3px rgba(#000, 0.2);
            }

            @media screen and (max-width: 400px) {
              width: 40px;
              height: 40px;
              svg {
                width: 22px;
              }
            }
          }

          @media screen and (max-width: 700px) {
            top: 16px;
            right: 10px;
          }
        }

        @media screen and (max-width: 700px) {
          width: 110vw;
          top: 0px;
          padding-top: 0px;
        }
      }

      .product__info {
        flex: 0 1 45%;

        .info__title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        .info__product_price_container {
          .socials {
            margin-top: 12px;
            display: none;
          }

          @media screen and (max-width: 600px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .socials {
              display: flex;
              justify-content: space-between;
              min-width: 100px;
              svg {
                width: 24px !important;
                height: 24px !important;
              }
            }

            .product_price__stars {
              order: 2;
              text-align: right;
              svg {
                width: 14px;
                height: 14px;
              }
            }
            .info__price {
              margin: 0;
            }
          }
        }

        .info__price {
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 30px;
          margin-bottom: 15px;
          max-width: 240px;
          .price__amd {
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;

            @media screen and (max-width: 600px) {
              font-size: 18px;
            }
          }

          svg {
            width: 15px;
            transform: scale(1.5);
            cursor: pointer;
            margin-left: 10px;
            @media screen and (max-width: 600px) {
              transform: scale(1);
              margin-left: 5px;
            }
          }

          .prices__poppup {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            visibility: hidden;
            z-index: 2;
            background: #fff;
            padding: 14px 10px;
            padding-bottom: 0px;
            border-radius: 20px;
            box-shadow: 0px 6px 10px rgba(#000, 0.1);
            min-width: 236px;
            p {
              font-size: 20px;
              margin-bottom: 12px;

              @media screen and (max-width: 600px) {
                font-size: 18px;
              }
            }

            &:hover {
              visibility: visible;
            }
          }

          &:hover {
            .prices__poppup {
              visibility: visible;
            }
          }
        }

        .info__wholesale {
          margin-top: 12px;
          margin-bottom: 30px;
          padding: 12px 0px;
          border-top: 1px solid $grey;
          border-bottom: 1px solid $grey;
        }

        @media screen and (max-width: 700px) {
          padding-right: 15px;
          padding-left: 15px;
        }
      }

      @media screen and (max-width: 980px) {
        flex-wrap: wrap;
        .product__slider {
          position: relative;
          top: 0;
          flex: 0 1 100%;
        }

        .product__info {
          flex: 0 1 100%;
          margin-top: 20px;
        }
      }
      @media screen and (max-width: 700px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    @media screen and (max-width: 1500px) {
      flex: 0 1 100%;
    }
  }

  &__similar {
    flex: 0 1 23%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    height: 90vh;
    overflow: auto;
    padding-right: 16px;
    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  .mobile_similar_cards {
    display: none;

    @media screen and (max-width: 1500px) {
      display: block;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 700px) {
    margin-top: 0px;
    grid-gap: 0px;
  }
}

.mobile_none {
  display: none;
}
